# 모듈 및 모델 import

In [2]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression

# 데이터 불러오기

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# 모델 불러오기

In [4]:
lr = LinearRegression()

# 쓰려는 컬럼 추출 및 타겟 값 설정

In [5]:
train_X = train[['exclusive_use_area','year_of_completion','transaction_year_month','floor']]
train_y = train['transaction_real_price']

In [6]:
test = test[['exclusive_use_area','year_of_completion','transaction_year_month','floor']]

# 모델에 데이터 넣기

In [7]:
lr.fit(train_X,train_y)

LinearRegression()

# 훈련된 모델로 test 예측

In [8]:
final = lr.predict(test)
final

array([17865.7125392 , 43909.07988115, 43262.74187634, ...,
       67238.45928471, 50991.51979276, 50775.6369032 ])

# 제출물(submission)에 예측값 넣기 및 csv파일 저장

In [9]:
s = pd.read_csv('submission.csv')
s['transaction_real_price'] = final
s.to_csv('submission_lr.csv', index=False)
s

      transaction_id  transaction_real_price
0            1145756            17865.712539
1            1198704            43909.079881
2            1222384            43262.741876
3            1179897            64814.429470
4            1223091            69945.650482
...              ...                     ...
5458         1174640            47903.068618
5459         1175575            46256.615953
5460         1157024            67238.459285
5461         1136863            50991.519793
5462         1218921            50775.636903

[5463 rows x 2 columns]